{% extends "base_generic.html" %}

{% block content %}
<h1>Book Instance List</h1>
{% if bookinstance_list %}
<ul class="list-group list-group-flush">
    {% for bookinstance in bookinstance_list %}
    <li class="list-group-item">
        <a href="{% url 'inst-detail' bookinstance.id %}" class="link-dark text-decoration-none">{{ bookinstance.book }}
            ({{ bookinstance.id }})</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no Book Instance in the library.</p>
{% endif %}
{% endblock %}